global
    log stdout format raw local0
    maxconn 4096
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend prometheus_front
    bind *:80
    mode http
    acl is_prometheus path_beg /prometheus
    use_backend prometheus_back if is_prometheus
    acl is_grafana path_beg /grafana
    use_backend grafana_back if is_grafana
    default_backend grafana_back

backend prometheus_back
    server prometheus {{ prometheus_ip }}:9090 check

backend grafana_back
    server grafana {{ grafana_ip }}:3000 check

